body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: url('https://e0.pxfuel.com/wallpapers/41/549/desktop-wallpaper-%D0%9A%D0%B0%D0%BA-%D1%82%D1%80%D0%B5%D0%BD%D0%B8%D1%80%D1%83%D0%B5%D1%82%D1%81%D1%8F-%D0%BB%D1%8B%D1%81%D1%8B%D0%B9-%D0%B8%D0%B7-%D0%B1%D1%80%D0%B0%D0%B7%D0%B5%D1%80%D1%81-%D1%82%D1%80%D0%B5%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B8-%D0%BE%D1%82-%D0%BB%D1%8B%D1%81%D0%BE%D0%B3%D0%BE-%D0%B8%D0%B7-johnny-sins.jpg') center / cover;
}

* {
    font-family: sans-serif;
}

button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
    color: black;
    font-size: 20px;
    font-weight: 600; 
    margin: 0 20px;
}

